{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["react", "jsx-a11y", "import"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.6.0"
    }
  },
  "globals": {
    "window": true,
    "document": true,
    "location": true
  },
  "rules": {
    "semi": ["error", "never"],
    "import/no-extraneous-dependencies": "off",
    "linebreak-style": "off",
    "no-undef": "off",
    "operator-linebreak": "off",
    "no-alert": "off",
    "prefer-destructuring": "off",
    "no-unused-vars": "warn",
    "max-len": ["warn", 160],
    "no-underscore-dangle": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-wrap-multilines": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/prefer-es6-class": ["error", "always"],
    "react/prop-types": ["error", { "ignore": ["children"] }],
    "react/require-render-return": ["error"],
    "react/jsx-no-bind": ["error", {
      "ignoreRefs": false,
      "allowArrowFunctions": true,
      "allowFunctions": false,
      "allowBind": false
    }],
    "react/sort-comp": ["error", {
      "order": [
        "lifecycle",
        "everything-else",
        "render"
      ],
      "groups": {
        "lifecycle": [
          "displayName",
          "propTypes",
          "contextTypes",
          "childContextTypes",
          "mixins",
          "statics",
          "defaultProps",
          "constructor",
          "instance-variables",
          "getDefaultProps",
          "state",
          "getInitialState",
          "getChildContext",
          "getDerivedStateFromProps",
          "componentDidMount",
          "shouldComponentUpdate",
          "getSnapshotBeforeUpdate",
          "componentDidUpdate",
          "componentDidCatch",
          "componentWillUnmount"
        ]
      }
    }]
  }
}