{
  "extends": [
    "eslint-config-airbnb",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "semi": ["error", "never"],
    "function-paren-newline": ["error", "consistent"],
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": "off",
    "react/no-array-index-key": "off",
    "react/sort-comp": "off",
    "import/no-extraneous-dependencies": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": true
    }],
    "no-restricted-syntax": [
      "error",
      "ForInStatement"
    ],
    "max-len": ["error", { "code": 120 }]
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true,
    "location": true,
    "__DEV__": true
  }
}